<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/adminView.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>dailyPlanning</title>
</head>
<body>

<div data-desktop-id="header" data-js-id="header-container" style="min-height: 44px; max-height: 44px; overflow: hidden;">
</div>

<h3 class="overskrift"> Day planning</h3>


<div class="header"></div>
<div class="info-box" style="height: 500px;overflow-y: scroll; max-width: 80%; margin-left: auto; margin-right: auto">

    <table class="table">

        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Arrival/Departure</th>
            <th>RouteNumber</th>
            <th>Time</th>
            <th>Plane</th>
            <th>ORG./Des.</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="info-body" id="flight-table-body">
        </tbody>
    </table>
</div>

<div class="info-box" style="height: 200px; overflow-x: scroll; max-width: 30%; margin-left: auto; margin-right: auto">
    <table class="table">
        <thead>
            <tr>
                <th>Gates available:</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="info-body" id="gate-table-body">
        </tbody>
    </table>
</div>

<div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3" id="input-desc"></div>
                    <div class="mb-3">
                        <label for="input-note" class="form-label">Note til task</label>
                        <input type="text" class="form-control" id="input-note">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                </button>
            </div>
        </div>
    </div>
</div>
</body>


</html>

<script>

    let incomingFlights = []

    let flightURL = "http://localhost:8080/airport/flights"
    function fetchFlights() {
        fetch(flightURL)
            .then(res => res.json())
            .then(data =>{
                incomingFlights  = data
                makeFlightRows()
            }).catch(e => {
            console.log(e);
        });
    }

    let gateStatus = []

    let gateURL = "http://localhost:8080/airport/gates"
    function fetchGates() {
        fetch(gateURL)
            .then(res => res.json())
            .then(data =>{
                gateStatus  = data
                makeGateRows()
            }).catch(e => {
            console.log(e);
        });
    }


    function makeFlightRows() {
        const flights = incomingFlights;
        const rows = flights.map(t =>`
        <tr>
            <td>${t.id}</td>
            <td>${t.date}</td>
            <td>${t.arrivalDepart}</td>
            <td>${t.routeNo}</td>
            <td>${t.timeOfAD}</td>
            <td>${t.plane.id} ${t.plane.model} size: ${t.plane.size}</td>
            <td>${t.airport.country}</td>
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#task-modal">View Event</button></td>
        </tr>
            `)
        document.getElementById("flight-table-body").innerHTML = rows.join("")
    }

    function makeGateRows() {
        const gates = gateStatus;
        const rows = gates.map(t =>`
        <tr>
            <td>${t.gateNo}</td>
            <td>${t.gateSize}</td>
        </tr>
            `)
        document.getElementById("gate-table-body").innerHTML = rows.join("")
    }
    fetchGates()
    fetchFlights()

    function movePlane(evt){
    evt.preventDefault()
    evt.stopPropagation()
    const target = evt.target;

    }

    document.getElementById("").onclick = (e) => {
        e.preventDefault()
        //employeeTask.push(flights[0]) skal pushes til employee
        const target = e.target;
        target.plane.gateNo = document.getElementById("gateNumber").value
        incomingFlights.shift()
        makeFlightRows()
    }


</script>