<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/adminView.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>dailyPlanning</title>
</head>
<body>

<div data-desktop-id="header" data-js-id="header-container" style="min-height: 44px; max-height: 44px; overflow: hidden;">
</div>

<h3 class="overskrift"> Day planning</h3>


<div class="header"></div>
<div class="info-box" style="height: 700px;overflow-y: scroll;">
    <table class="table">

        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Arrival/Departure</th>
            <th>RouteNumber</th>
            <th>Time</th>
            <th>A/C</th>
            <th>ORG./Des.</th>
        </tr>
        </thead>
        <tbody class="info-body" id="task-table-body">
        </tbody>

    </table>
</div>
<button class="update-button">Update log</button>
<button class="print-button">Print log</button>

<div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3" id="input-desc"></div>
                    <div class="mb-3">
                        <label for="input-note" class="form-label">Note til task</label>
                        <input type="text" class="form-control" id="input-note">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                </button>
            </div>
        </div>
    </div>
</div>
</body>


</html>

<script>

    let tasks = [
        {Date: "19/9-2019", ArrivalDeparture: "A", RouteNo: "D8 3563", STAandSTD: "00:10", AC: "73H", origndestination: "KRK"},
        {Date: "19/9-2019", ArrivalDeparture: "A", RouteNo: "JTG360", STAandSTD: "00:10", AC: "73H", origndestination: "AHO"},
        {Date: "19/9-2019", ArrivalDeparture: "A", RouteNo: "SK 9250", STAandSTD: "00:10", AC: "CR9", origndestination: "ARN"},
        {Date: "19/9-2019", ArrivalDeparture: "D", RouteNo: "SU 2497", STAandSTD: "00:10", AC: "73H", origndestination: "SVO"},
        {Date: "19/9-2019", ArrivalDeparture: "A", RouteNo: "SK 1546", STAandSTD: "00:35", AC: "CR9", origndestination: "MAN"},
        {Date: "19/9-2019", ArrivalDeparture: "A", RouteNo: "D8 3733", STAandSTD: "00:40", AC: "73H", origndestination: "FCO"},
        {Date: "19/9-2019", ArrivalDeparture: "A", RouteNo: "QY 174", STAandSTD: "01:35", AC: "75V", origndestination: "LEJ"},
    ]

    let incomingFlights = []

    const URL = "http://localhost:8080/airport/flights"
    function fetchFlights() {
        fetch(URL)
            .then(res => res.json())
            .then(data =>{
                incomingFlights  = data
                makeFlightRows()
            }).catch(e => {
            console.log(e);
        });
    }


    function makeFlightRows() {
        const flights = incomingFlights;
        const rows = flights.map(t =>`
        <tr>
            <td>${t.id}</td>
            <td>${t.date}</td>
            <td>${t.arrivalDepart}</td>
            <td>${t.routeNo}</td>
            <td>${t.timeOfAD}</td>
            <td>${t.plane.id}</td>
            <td>${t.airport.country}</td>
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#task-modal">View Event</button></td>
        </tr>
            `)
        document.getElementById("task-table-body").innerHTML = rows.join("")
    }
    fetchFlights()

    const yellowMouseover = document.getElementById("midterHeader")

    yellowMouseover.onmouseover = function(event){
        event.target.style.color = 'yellow';
    }

    function handler(){
        document.getElementById("task-table-body").onclick = deleteFunc
    }

    handler()


    function showModal(task) {
        const myModal = new bootstrap.Modal(document.getElementById('task-modal'))
        document.getElementById("input-desc").value = task.Desc
        document.getElementById("input-note").value = "Note"
        myModal.show()
    }
</script>